.leftGrid
{
    -fx-font-size: 20px;
}
.leftGrid .text-field
{
    -fx-pref-width: 100px;
}


#simulationGridPane
{

    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

#parametersLabel
{
    -fx-font-size: 30px;
}