.leftGrid
{
    -fx-font-size: 20px;
}
.leftGrid .text-field
{
    -fx-pref-width: 100px;
}


#simulationPane
{
    -fx-pref-width: 800px;
    -fx-pref-height: 600px;
}

#parametersLabel
{
    -fx-font-size: 30px;
}